body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.main-container{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.header{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: end;
}

.theme{
    display: flex;
    flex-direction: column;
}

.theme-toggler{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    padding: 5px;
    border-radius: 50px;
}

.theme-number{
    display: flex;
    justify-content: space-around;
    gap: 3px;
    padding: 2px;
}

.theme-label-1, .theme-label-2, .theme-label-3{
    text-align: center;
    width: 20px;
    height: 20px;
}

.theme1, .theme2, .theme3{
    width: 20px;
    height: 15px;
    border-radius: 30px;;
}

.theme1:hover, .theme2:hover, .theme3:hover{
    background-color: rgba(255, 255, 255, 0.221);
}

.screen{
    width: auto;
    height: 5rem;
    border-radius: 0.5rem;
    border: none;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem;
    font-size: 2.5rem;
    overflow-x: auto;
}

.numpad{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
}

.numpad-number{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.9rem;
    text-align: center;
}

.number, .delete, .operator{
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.numpad-operate{
    font-size: 1.5rem;
    display: grid;
    width: 100%;
    column-gap: 0.9rem;
    grid-template-columns:1fr 1fr;
    text-align: center;
}

.operate{
    width: 95%;
    height: 2.5rem;
    display: grid;
    justify-self: center;
    align-items: center;
    border-radius: 5px;
}

.btn:hover, .operate:hover, .delete:hover{
    scale: 0.96;
    transition-duration: 200ms;
    cursor: context-menu;
}

/* THEMES */



.theme1-active{
    background-color: hsl(6, 63%, 50%);
}

.body-theme1{
    background-color: hsl(222, 26%, 31%);
    color: hsl(0, 0%, 100%);
}

.theme-toggler-theme1, .numpad-theme1{
    background-color: hsl(223, 31%, 20%);
}

.screen-theme1{
    background-color: hsl(224, 36%, 15%);
}

.number-theme1, .operator-theme1{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    color: hsl(221, 14%, 31%);
}

.operate-theme1{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

.reset-theme1, .delete-theme1{
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
}

.equal-theme1{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 4px hsl(6, 70%, 34%);
}

.number-theme1:hover, .operator-theme1:hover{
    background-color: hsl(38, 41%, 83%);
}

.reset-theme1:hover, .delete-theme1:hover{
    background-color: hsl(223, 79%, 71%);
}

.equal-theme1:hover{
    background-color: hsl(6, 76%, 69%);
}


.theme2-active{
    background-color: hsl(25, 98%, 40%);
}

.body-theme2{
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
}

.theme-toggler-theme2, .numpad-theme2{
    background-color: hsl(0, 5%, 81%);
}

.screen-theme2{
    background-color: hsl(0, 0%, 93%);
}

.number-theme2, .operator-theme2{
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 3px hsl(35, 11%, 61%);
    color: hsl(60, 10%, 19%);
}

.operate-theme2{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

.reset-theme2, .delete-theme2{
    background-color: hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
}

.equal-theme2{
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0px 4px hsl(25, 99%, 27%);
}

.number-theme2:hover, .operator-theme2:hover{
    background-color: hsl(45, 5%, 66%);
}

.reset-theme2:hover, .delete-theme2:hover{
    background-color: hsl(185, 29%, 52%);
}

.equal-theme2:hover{
    background-color: hsl(25, 80%, 58%);
}



.theme3-active{
    background-color: hsl(176, 100%, 44%);
}

.body-theme3{
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);
}

.theme-toggler-theme3, .numpad-theme3{
    background-color: hsl(268, 71%, 12%);
}

.screen-theme3{
    background-color: hsl(268, 71%, 12%);
}

.number-theme3, .operator-theme3{
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 3px hsl(285, 91%, 52%);
    color: hsl(52, 100%, 62%);
}

.operate-theme3{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

.reset-theme3, .delete-theme3{
    background-color: hsl(281, 89%, 26%);
    color: hsl(0, 0%, 100%);
}

.equal-theme3{
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 4px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
}

.number-theme3:hover, .operator-theme3:hover{
    background-color: hsl(268, 33%, 33%);
}

.reset-theme3:hover, .delete-theme3:hover{
    background-color: hsl(281, 53%, 42%);
}

.equal-theme3:hover{
    background-color: hsl(175, 48%, 68%);
}

@media(max-width: 700px){
    .container{
        width: 85vw;
    }

    .number, .delete, .operator{
        width: 100%;
    }
}
